### Import library
Nous allons importer les bibliothèque numpy et pandas qui sont necessaire pour le traitement.

In [6]:
import pandas as pd
import numpy as np

### Import Data
Nous allons importer les données depuis le répertoire RAwData pour enfin les traiter et transformer

In [8]:
n=['TimesTamp', 'ECP', 'Antenna', 'RSSI','Channel','Address']
p='../1-RawData/datasetfinale/cible_parasites/25/droitebas-cible-avec-parasites-p25__02-11-2020_16h_55m_14s.csv'
d=','
def importData(path, delimit,cols):
    return pd.read_csv(path, sep=delimit,names=cols)

data=importData(p,d,n)
data = data.drop([0],axis=0) #Suppression de la 1ere ligne
data = data.drop([1],axis=0) #Suppression de la 1ere ligne
data = data.drop([2],axis=0) #Suppression de la 1ere 
data = data.drop(['Channel'],axis=1) #Suppression de la 1ere 
data = data.drop(['Address'],axis=1) #Suppression de la 1ere 
data.head(5)

          TimesTamp                       ECP Antenna   RSSI
3  1581427753033891  E28068900000000018345317       1  -60.5
4  1581427753054162  E28068900000000018345317       1    -60
5  1581427753269703  E28068900000000018345317       1    -60
6  1581427753298921  E28068900000000018345317       1  -59.5
7  1581427753513094  E28068900000000018345317       1  -59.5

### TYPAGE DES CHAMPS
Nos allons typer les différentes colonnes du dataSet avec les types primaires de python

In [9]:
def typage(data):
    data['ECP']=data['ECP'].astype(str)
    data['TimesTamp']=data['TimesTamp'].astype('int64')
    data['RSSI']=data['RSSI'].astype('float64')
    data['Antenna']=data['Antenna'].astype('int64')
    return data

data=typage(data)
data.info()
data.shape

<class 'pandas.core.frame.DataFrame'>
Int64Index: 414 entries, 3 to 416
Data columns (total 4 columns):
TimesTamp    414 non-null int64
ECP          414 non-null object
Antenna      414 non-null int64
RSSI         414 non-null float64
dtypes: float64(1), int64(2), object(1)
memory usage: 16.2+ KB

(414, 4)

In [11]:
'''
3005FB63AC1F3681EC880468, 1532AC20AC1F3681EC880468, 0000FB63AC1F3681EC880468, 1007FB63AC1F3681EC880468
'''
def deleteRowByECP(datas, ecp):
    print('firstSize', datas.size)
    datas=datas[datas.ECP!=ecp]
    print('secondSize', datas.size)
    return datas

data = deleteRowByECP(data,'3005FB63AC1F3681EC880468')
data = deleteRowByECP(data,'1532AC20AC1F3681EC880468')
data = deleteRowByECP(data,'0000FB63AC1F3681EC880468')
data = deleteRowByECP(data,'1007FB63AC1F3681EC880468')

firstSize 1568
secondSize 1436
firstSize 1436
secondSize 1436
firstSize 1436
secondSize 1324
firstSize 1324
secondSize 1324

In [ ]:
'''
E28068900000000018343760, 3005FB63AC1F3681EC8812DB, E28068900000000018344AC515, 3005FB63AC1F3681EC88144815, 
3005FB63AC1F3681EC8812DB, 
'''

In [12]:
data.ECP = data.ECP.values+"1"
data.head(10)

           TimesTamp                        ECP  Antenna  RSSI
3   1581427753033891  E280689000000000183453171        1 -60.5
4   1581427753054162  E280689000000000183453171        1 -60.0
5   1581427753269703  E280689000000000183453171        1 -60.0
6   1581427753298921  E280689000000000183453171        1 -59.5
7   1581427753513094  E280689000000000183453171        1 -59.5
8   1581427753544895  E280689000000000183453171        1 -59.5
9   1581427753748230  E280689000000000183453171        1 -59.5
10  1581427753775459  E280689000000000183453171        1 -59.5
11  1581427753983658  E280689000000000183453171        1 -59.5
12  1581427754008097  E280689000000000183453171        1 -59.0

In [13]:
data['FP']=1
data

            TimesTamp                        ECP  Antenna  RSSI  FP
3    1581427753033891  E280689000000000183453171        1 -60.5   1
4    1581427753054162  E280689000000000183453171        1 -60.0   1
5    1581427753269703  E280689000000000183453171        1 -60.0   1
6    1581427753298921  E280689000000000183453171        1 -59.5   1
7    1581427753513094  E280689000000000183453171        1 -59.5   1
..                ...                        ...      ...   ...  ..
412  1581427761310630  E280689000000000183453171        1 -60.0   1
413  1581427761330548  E280689000000000183453171        1 -60.0   1
414  1581427761549637  E280689000000000183453171        1 -59.5   1
415  1581427761577371  E280689000000000183453171        1 -60.0   1
416  1581427761791794  E280689000000000183453171        1 -60.0   1

[331 rows x 5 columns]

### Export Data
Nous allons sauvegarder les donées dans un fichier .csv

In [94]:
import time
def exportData(data, path):
    data.to_csv(path, index = None, header=False)

In [95]:
path='../2-TransformedData/DerriereGaucheBas-p30__02-11-2020_15h_05m_20s.csv'
exportData(data, path)