### Import library
Nous allons importer les bibliothèque numpy et pandas qui sont necessaire pour le traitement.

In [2]:
import pandas as pd
import numpy as np

### Import Data
Nous allons importer les données depuis le répertoire RAwData pour enfin les traiter et transformer

In [29]:
n=['TimesTamp', 'ECP', 'Antenna', 'RSSI', 'FP']
p='../1-RawData/datasetfinale/mergedFiles/all-3/p25.csv'
d=','
def importData(path, delimit,cols):
    return pd.read_csv(path, sep=delimit,names=cols)

data=importData(p,d,n)

print(data.shape)
data.tail(100)

(5925, 5)

             TimesTamp                         ECP  Antenna  RSSI  FP
5825  1581426776215424  3005FB63AC1F3681EC8811B077        1 -58.0   0
5826  1581426776219358  E2806890000000001834531777        1 -58.5   1
5827  1581426776244738  E2806890000000001834531777        1 -58.0   1
5828  1581426776246697  3005FB63AC1F3681EC8811B077        1 -59.0   0
5829  1581426776285394  3005FB63AC1F3681EC8811B577        2 -60.0   0
5830  1581426776287584  3005FB63AC1F3681EC8805A577        2 -58.0   0
5831  1581426776290553  3005FB63AC1F3681EC8805A977        2 -58.0   0
5832  1581426776296180  1007CEA7AC1F3681EAC5106D77        2 -55.5   0
5833  1581426776297554  2005FB63EAC13681E5C602A177        2 -58.5   0
5834  1581426776301779  2005FB63EAC13681E4EC0FE977        2 -57.0   0
5835  1581426776306696  3005FB63AC1F3681EC88150177        2 -57.5   0
5836  1581426776352156  3005FB63AC1F3681EC88131777        2 -62.0   0
5837  1581426776361828  7336CEF1C1FE3682DEA1004677        2 -61.5   0
5838  1581426776372435  2005FB63EAC13681E5C602A177        2 -59.0   0
5839  1581426776373539  1007CEA7AC1F3681EAC5106D77        2 -55.0   0
5840  1581426776377331  3005FB63AC1F3681EC8805A577        2 -58.0   0
5841  1581426776378944  3005FB63AC1F3681EC88150177        2 -58.0   0
5842  1581426776381105  3005FB63AC1F3681EC8805A977        2 -57.0   0
5843  1581426776383063  2005FB63EAC13681E4EC0FE977        2 -57.0   0
5844  1581426776384644  3005FB63AC1F3681EC8811B577        2 -58.0   0
5845  1581426776385775  3005FB63AC1F3681EC88131777        2 -61.0   0
5846  1581426776600748  E2806890000000001834531777        1 -61.0   1
5847  1581426776620307  E2806890000000001834531777        1 -61.5   1
5848  1581426776647379  3005FB63AC1F3681EC8811B577        2 -59.0   0
5849  1581426776648494  3005FB63AC1F3681EC88150177        2 -59.0   0
5850  1581426776650932  3005FB63AC1F3681EC8805A977        2 -58.0   0
5851  1581426776652256  3005FB63AC1F3681EC8814C177        2 -56.5   0
5852  1581426776656027  2005FB63EAC13681E4EC0FE977        2 -57.5   0
5853  1581426776658443  1007CEA7AC1F3681EAC5106D77        2 -54.0   0
5854  1581426776662914  3005FB63AC1F3681EC8805AA77        2 -61.0   0
...                ...                         ...      ...   ...  ..
5895  1581426777728241  3005FB63AC1F3681EC8814C177        2 -60.5   0
5896  1581426777768222  3005FB63AC1F3681EC8814C177        2 -59.5   0
5897  1581426777920696  E2806890000000001834531777        1 -59.5   1
5898  1581426777947769  E2806890000000001834531777        1 -59.5   1
5899  1581426778175137  E2806890000000001834531777        1 -59.5   1
5900  1581426778204623  E2806890000000001834531777        1 -60.0   1
5901  1581426778415862  E2806890000000001834531777        1 -60.0   1
5902  1581426778435803  E2806890000000001834531777        1 -60.0   1
5903  1581426778654762  E2806890000000001834531777        1 -60.5   1
5904  1581426778682740  E2806890000000001834531777        1 -60.5   1
5905  1581426778897545  E2806890000000001834531777        1 -60.0   1
5906  1581426778929477  E2806890000000001834531777        1 -60.5   1
5907  1581426779146477  E2806890000000001834531777        1 -60.0   1
5908  1581426779182098  E2806890000000001834531777        1 -60.0   1
5909  1581426779391106  E2806890000000001834531777        1 -60.0   1
5910  1581426779419355  E2806890000000001834531777        1 -59.5   1
5911  1581426779644684  E2806890000000001834531777        1 -60.5   1
5912  1581426779668177  E2806890000000001834531777        1 -60.0   1
5913  1581426780006937  E2806890000000001834531777        1 -60.0   1
5914  1581426780034702  E2806890000000001834531777        1 -60.0   1
5915  1581426780260209  E2806890000000001834531777        1 -59.5   1
5916  1581426780284483  E2806890000000001834531777        1 -60.0   1
5917  1581426780508524  E2806890000000001834531777        1 -59.5   1
5918  1581426780531499  E2806890000000001834531777        1 -59.5   1
5919  1581426780753677  E2806890000000001834531777        1 -59.5   1
5920  1581426780783444  E2806890000000001834531777        1 -59.5   1
5921  1581426781004154  E2806890000000001834531777        1 -59.5   1
5922  1581426781031163  E2806890000000001834531777        1 -60.0   1
5923  1581426781240674  E2806890000000001834531777        1 -60.0   1
5924  1581426781271598  E2806890000000001834531777        1 -60.0   1

[100 rows x 5 columns]

### TYPAGE DES CHAMPS
Nos allons typer les différentes colonnes du dataSet avec les types primaires de python

In [7]:
def typage(data):
    data['ECP']=data['ECP'].astype(str)
    data['TimesTamp']=data['TimesTamp'].astype('int64')
    data['RSSI']=data['RSSI'].astype('float64')
    data['Antenna']=data['Antenna'].astype('int64')
    data['FP']=data['FP'].astype('int64')
    return data

data=typage(data)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5925 entries, 0 to 5924
Data columns (total 5 columns):
TimesTamp    5925 non-null int64
ECP          5925 non-null object
Antenna      5925 non-null int64
RSSI         5925 non-null float64
FP           5925 non-null int64
dtypes: float64(1), int64(3), object(1)
memory usage: 231.5+ KB

### Build DataSet
Nous allons contruire la dataFrame avec les colonnes

In [73]:
from scipy.stats import variation 

def generateDataSet(data, groupedBy):
    grouped_df = data.groupby(groupedBy) #On groupe les données par ..."Etiquetes"
    
    dataSet = pd.DataFrame({}) #Création d'une nouvelle dataFrame
    
    #Création des variables intermédiaire pour la récupération des champs
    ecp=pd.Series(grouped_df.ECP.unique().index,name="ECP")
    fp=pd.Series(grouped_df.FP.max(),name="FP")
    rc= pd.Series(grouped_df.ECP.count(),name="readcount")
    minRSSI= pd.Series(grouped_df.RSSI.min(),name="minRssi")
    maxRSSI= pd.Series(grouped_df.RSSI.max(),name="maxRssi")
    mean=pd.Series(grouped_df.RSSI.mean(),name="meanRssi")
    startTime=pd.Series(grouped_df.TimesTamp.min(),name="startTime")
    endTime=pd.Series(grouped_df.TimesTamp.max(),name="endTime")
    diff=pd.Series(grouped_df.RSSI.diff,name="difference")
    
    #Mise à jour des champs de la dataFrame
    dataSet['ECP']=ecp.values
    dataSet['RC']=rc.values
    dataSet['MIN']=minRSSI.values
    dataSet['MAX']=maxRSSI.values
    dataSet['MEAN']=mean.values
    dataSet['START']=startTime.values
    dataSet['END']=endTime.values
    dataSet['DURATION']=endTime.values-startTime.values
    cv={}
    a1={}
    a2={}
    a3={}
    a4={}
    for key, item in grouped_df:
        cv[key]=variation(grouped_df['RSSI'].get_group(key).values,axis=0)
        a1[key]=0
        a2[key]=0
        a3[key]=0
        a4[key]=0
        for a in grouped_df['Antenna'].get_group(key).values:
            if(a==1): a1[key]+=1
            if(a==2): a2[key]+=1
            if(a==3): a3[key]+=1
            if(a==4): a4[key]+=1
                
    dataSet['CV']=pd.Series(cv).values
    dataSet['A1']=pd.Series(a1).values
    dataSet['A2']=pd.Series(a2).values
    dataSet['A3']=pd.Series(a3).values
    dataSet['A4']=pd.Series(a4).values
    dataSet['FP']=fp.values
    
    return dataSet

dataSet=generateDataSet(data,'ECP')
print(len(dataSet))
dataSet.tail(10)

1129

,ECP,RC,MIN,MAX,MEAN,START,END,DURATION,CV,A1,A2,A3,A4,FP
1119,E2806890000000001834531773,62,-62.0,-58.5,-60.137097,1581426577422023,1581426587151965,9729942,-0.009924,62,0,0,0,1
1120,E2806890000000001834531774,62,-61.0,-59.0,-60.104839,1581426438984175,1581426448418812,9434637,-0.007187,62,0,0,0,1
1121,E2806890000000001834531775,62,-60.5,-57.5,-58.258065,1581429871609955,1581429880213044,8603089,-0.013326,62,0,0,0,1
1122,E2806890000000001834531776,60,-59.5,-57.0,-57.825000,1581429723450235,1581429731596298,8146063,-0.010210,60,0,0,0,1
1123,E2806890000000001834531777,66,-63.5,-58.0,-60.045455,1581426772161856,1581426781271598,9109742,-0.016888,66,0,0,0,1
1124,E2806890000000001834532275,9,-69.0,-64.5,-66.444444,1581429872325601,1581429875333817,3008216,-0.025443,8,1,0,0,0
1125,E2806890000000001834544A7,68,-68.0,-64.5,-66.639706,1581413518756920,1581413529043933,10287013,-0.009871,0,0,68,0,1
1126,E2806890000000001834580475,1,-69.5,-69.5,-69.500000,1581429872812040,1581429872812040,0,-0.000000,1,0,0,0,1
1127,E2806890000000001834593E7,9,-68.0,-67.0,-67.500000,1581413520413796,1581413528834688,8420892,-0.003492,0,0,0,9,1
1128,E28068900000000018345CD576,4,-71.5,-67.5,-69.375000,1581429724764916,1581429725042245,277329,-0.024106,0,0,4,0,1

### Export Data
Nous allons sauvegarder les donées dans un fichier .csv

In [70]:
import time
def exportData(data, path):
    data.to_csv(path, index = None, header=False)

## Export allinOne
Exporter l'ensemble des daonnées dans un seul.

In [71]:
tm = time.strftime("%Y-%b-%d-%H_%M_%S")
path='../2-TransformedData/dataFinale/p25/dataSet_p25_'+tm+'.csv'
exportData(dataSet, path)

### Split Data
Nous allons découper les données en deux, 80% des trainSets et 20% des tesSets

In [87]:
def splitDataLE20(data):
    dataSet_np = np.random.rand(len(data)) <0.8
    trainSet=data[dataSet_np]
    testSet=data[~dataSet_np]
    return trainSet, testSet

from sklearn.model_selection import train_test_split
def sliptDataE20(data):
    X = data.iloc[:, :-1].values
    y = data['FP'].values
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)
    trainSet=pd.DataFrame(X_train)
    trainSet[13]=y_train
    
    testSet = pd.DataFrame(X_test)
    testSet[13] = y_test
    return trainSet, testSet

### Export Train & Test
Nous allons exporter les données découpées en traint et test

In [88]:
pathTrain='../2-TransformedData/dataFinale/p25/traintSet_p25.csv'
pathTest='../2-TransformedData/dataFinale/p25/testSet_p25.csv'
trainSet, testSet=sliptDataE20(dataSet)
#trainSet, testSet=splitDataLE20(dataSet)

exportData(trainSet, pathTrain)
exportData(testSet, pathTest)

In [80]:
tm = time.strftime("%Y-%b-%d-%H_%M_%S")
def importData2(path):
    #columnNames=["ECP","RC","MIN","MAX","MEAN","START","END","DURATION","CV","A1","A2","A3","A4","FP"]
    columnNames=["RC","MIN","MAX","MEAN","START","END","DURATION","CV","A1","A2","A3","A4","FP"]
    delimit=','
    data = pd.read_csv(path, names=columnNames, sep=delimit)
    #data = data.drop(columns="ECP")
    return data
you_data=importData2('../2-TransformedData/dataSets_you.csv')

trainSet, testSet = sliptDataE20(you_data)
#trainSet, testSet = sliptDataE20(dataSet)
#trainSet, testSet = splitDataLE20(dataSet)

pathTrain='../3-DataSet/trainSet_you_'+tm+'.csv'
exportData(dataSet, pathTrain)

pathTest='../3-DataSet/testSet_you_'+tm+'.csv'
exportData(dataSet, pathTest)