### Import library
Nous allons importer les bibliothèque numpy et pandas qui sont necessaire pour le traitement.

In [1]:
import pandas as pd
import numpy as np

### Import Data
Nous allons importer les données depuis le répertoire RAwData pour enfin les traiter et transformer

In [5]:
n=['TimesTamp', 'ECP', 'Antenna', 'RSSI','Channel','Address']
p='../1-RawData/datasetfinale/cible_parasites/25/droitebas-cible-avec-parasites-p25__02-11-2020_16h_55m_14s.csv'
d=','
def importData(path, delimit,cols):
    return pd.read_csv(path, sep=delimit,names=cols)

data=importData(p,d,n)
data = data.drop([0],axis=0) #Suppression de la 1ere ligne
data = data.drop([1],axis=0) #Suppression de la 1ere ligne
data = data.drop([2],axis=0) #Suppression de la 1ere 
data = data.drop(['Channel'],axis=1) #Suppression de la 1ere 
data = data.drop(['Address'],axis=1) #Suppression de la 1ere 
data.head(5)

          TimesTamp                       ECP Antenna   RSSI
3  1581427753033891  E28068900000000018345317       1  -60.5
4  1581427753054162  E28068900000000018345317       1    -60
5  1581427753269703  E28068900000000018345317       1    -60
6  1581427753298921  E28068900000000018345317       1  -59.5
7  1581427753513094  E28068900000000018345317       1  -59.5

### TYPAGE DES CHAMPS
Nos allons typer les différentes colonnes du dataSet avec les types primaires de python

In [7]:
def typage(data):
    data['ECP']=data['ECP'].astype(str)
    data['TimesTamp']=data['TimesTamp'].astype('int64')
    data['RSSI']=data['RSSI'].astype('float64')
    data['Antenna']=data['Antenna'].astype('int64')
    return data

data=typage(data)
data.info()
data.shape

<class 'pandas.core.frame.DataFrame'>
Int64Index: 414 entries, 3 to 416
Data columns (total 4 columns):
TimesTamp    414 non-null int64
ECP          414 non-null object
Antenna      414 non-null int64
RSSI         414 non-null float64
dtypes: float64(1), int64(2), object(1)
memory usage: 16.2+ KB

(414, 4)

In [10]:
'''
3005FB63AC1F3681EC880468, 1532AC20AC1F3681EC880468, 0000FB63AC1F3681EC880468, 1007FB63AC1F3681EC880468
'''
def deleteRowByECP(datas, ecp):
    print('firstSize', datas.size)
    datas=datas[datas.ECP!=ecp]
    print('secondSize', datas.size)
    return datas

data = deleteRowByECP(data,'3005FB63AC1F3681EC880468')
data = deleteRowByECP(data,'1532AC20AC1F3681EC880468')
data = deleteRowByECP(data,'0000FB63AC1F3681EC880468')
data = deleteRowByECP(data,'1007FB63AC1F3681EC880468')

firstSize 1324
secondSize 1324
firstSize 1324
secondSize 1324
firstSize 1324
secondSize 1324
firstSize 1324
secondSize 1324

In [11]:
parasites = [ '1007CEA7AC1F3681EAC5106D',
        '2005FB63AC1F3681AB1004E3',
       '2005FB63AC1F3681AB1005CE', '2005FB63EAC13681E4EC0F4B',
       '2005FB63EAC13681E4EC0F50', '2005FB63EAC13681E4EC0FD2',
       '2005FB63EAC13681E5C6025A', '2005FB63EAC13681E5C6027B',
       '2005FB63EAC13681E5C602E8', 
       '3005FB63AC1F3681EC8805A5', '3005FB63AC1F3681EC8805A9',
       '3005FB63AC1F3681EC8805AA', '3005FB63AC1F3681EC8811B0',
       '3005FB63AC1F3681EC88129C', '3005FB63AC1F3681EC8812AB',
       '3005FB63AC1F3681EC8812DB', '3005FB63AC1F3681EC881316',
       '3005FB63AC1F3681EC881318', '3005FB63AC1F3681EC88131E',
       '3005FB63AC1F3681EC88134B', '3005FB63AC1F3681EC881428',
       '3005FB63AC1F3681EC88143C', '3005FB63AC1F3681EC881448',
       '3005FB63AC1F3681EC88155C', '3005FB63AC1F3681EC8815B9',
       '7336CEF1C1FE3682DEA1005C', '90134BC1F1CE3781AEA10001',
       '90134BC1F1CE3781AEA10005', 'E28068900000000018343760',
        '1007CEA7AC1F3681EAC5106D','1532FB63AC1F3681EC880468',
       '2005FB63AC1F3681AB1005CE', '2005FB63EAC13681E4EC0F4B',
       '2005FB63EAC13681E4EC0F4C', '2005FB63EAC13681E4EC0F4F',
       '2005FB63EAC13681E4EC0F50', '2005FB63EAC13681E4EC0FD2',
       '2005FB63EAC13681E5C602E8', '3005FB63AC1F3681EC8811B0', '3005FB63AC1F3681EC8812AB',
       '3005FB63AC1F3681EC8812DB', '3005FB63AC1F3681EC881318',
       '3005FB63AC1F3681EC88134B', '3005FB63AC1F3681EC8813AD',
       '3005FB63AC1F3681EC881448', '3005FB63AC1F3681EC88145A',
       '3005FB63AC1F3681EC88149C', '3005FB63AC1F3681EC88155C',
       '90134BC1F1CE3781AEA10001', '90134BC1F1CE3781AEA10005',
       '90134BC1F1CE3781AEA1000B', 'E28068900000000018344AC5',
        '1007CEA7AC1F3681EAC5106D',
       '1007CEA7AC1F3681EC880468', 
        '2005FB63AC1F3681AB1004E3',
       '2005FB63AC1F3681AB1005CE', '2005FB63EAC13681E4EC0F4B',
       '2005FB63EAC13681E4EC0FD2', '2005FB63EAC13681E5C6025A',
       '2005FB63EAC13681E5C60293', '2005FB63EAC13681E5C602E8',
        '3005FB63AC1F3681EC8805A9',
       '3005FB63AC1F3681EC8811B0', '3005FB63AC1F3681EC88129C',
       '3005FB63AC1F3681EC8812AB', '3005FB63AC1F3681EC8812B7',
       '3005FB63AC1F3681EC8812DB', '3005FB63AC1F3681EC881428',
       '3005FB63AC1F3681EC881451', '3005FB63AC1F3681EC881490',
       '3005FB63AC1F3681EC88149C', '3005FB63AC1F3681EC8814C1',
       '3005FB63AC1F3681EC88155C', '3005FB63AC1F3681EC8815B9',
       '7336CEF1C1FE3682DEA10046', '7336CEF1C1FE3682DEA1004A',
       '7336CEF1C1FE3682DEA1004F', '90134BC1F1CE3781AEA10001',
       '90134BC1F1CE3781AEA10005', '90144BC1F1CE3681EA880811',
       'E28068900000000018344AC5',
        '1007CEA7AC1F3681EAC5106D',
        
       '2005FB63AC1F3681AB1004E3', '2005FB63EAC13681E4EC0FD2',
       '2005FB63EAC13681E4EC0FEC', 
       '3005FB63AC1F3681EC8805A9', '3005FB63AC1F3681EC8805AA',
       '3005FB63AC1F3681EC8811B0', '3005FB63AC1F3681EC8812DB',
       '3005FB63AC1F3681EC88134B', '3005FB63AC1F3681EC881458',
       '3005FB63AC1F3681EC881490', '3005FB63AC1F3681EC88149C',
       '3005FB63AC1F3681EC8814A8', '3005FB63AC1F3681EC8814C1',
       '3005FB63AC1F3681EC88155C', '3005FB63AC1F3681EC8815B9',
       '3025AB20CA1F3681CF101115', '3025AB20CA1F3681CF101118',
       '7336CEF1C1FE3682DEA10049', '7336CEF1C1FE3682DEA1004B',
       '7336CEF1C1FE3682DEA1004E', '7336CEF1C1FE3682DEA1004F',
       '7336CEF1C1FE3682DEA10050', '7336CEF1C1FE3682DEA10051',
       '90134BC1F1CE3781AEA1000E', '90134BC1F1CE3781AEA10011',
       '90134BC1F1CE3781AEA10015', '90134BC1F1CE3781AEA10019',
        '1007CEA7AC1F3681EAC5106D',
        '1532FB63AC1F3681EC880468',
       '2005FB63AC1F3681AB1005CE', '2005FB63EAC13681E4EC0F4B',
       '2005FB63EAC13681E5C6025A', '2005FB63EAC13681E5C6027B',
       '2005FB63EAC13681E5C602E8', 
       '3005FB63AC1F3681EC8805A9', '3005FB63AC1F3681EC8812DB',
       '3005FB63AC1F3681EC881318', '3005FB63AC1F3681EC88134B',
       '3005FB63AC1F3681EC881428', '3005FB63AC1F3681EC881448',
       '3005FB63AC1F3681EC88149C', '3005FB63AC1F3681EC88155C',
       '3025AB20CA1F3681CF101115', '7336CEF1C1FE3682DEA10069',
       '90134BC1F1CE3781AEA10001', '90134BC1F1CE3781AEA1000B',
       '90144BC1F1CE3681EA880811', 'E2806890000000001834316B',
       'E280689000000000183432A0', 'E28068900000000018343760',
       'E28068900000000018344AC5',
        '1007CEA7AC1F3681EAC5106D',
       '1007CEA7AC1F3681EC880468', 
       '1532FB63AC1F3681EC880468', '2005FB63AC1F3681AB1004E3',
       '2005FB63AC1F3681AB1005CE', '2005FB63EAC13681E4EC0F4B',
       '2005FB63EAC13681E4EC0F50', '2005FB63EAC13681E5C6025A',
       '2005FB63EAC13681E5C6027B', '2005FB63EAC13681E5C602E8',
        '3005FB63AC1F3681EC8811B0',
       '3005FB63AC1F3681EC8812DB', '3005FB63AC1F3681EC881318',
       '3005FB63AC1F3681EC8813AD', '3005FB63AC1F3681EC881448',
       '3005FB63AC1F3681EC88149C', '3005FB63AC1F3681EC8814C1',
       '3005FB63AC1F3681EC88155C', '3005FB63AC1F3681EC8815B9',
       '3025AB20CA1F3681CF101115', '7336CEF1C1FE3682DEA10069',
       '90134BC1F1CE3781AEA10001', '90134BC1F1CE3781AEA1000B',
       '90134BC1F1CE3781AEA10019', 'E28068900000000018342CA4',
       'E28068900000000018343760', 'E28068900000000018343B18',
       'E28068900000000018344AC5',
       '3025AB20CA1F3681CF101116', '3025AB20CA1F3681CF101119',
       '3025AB20CA1F3681CF10111A', '3025AB20CA1F3681CF10111B',
       '4001FBCAAC1F3690ED880510', '90134BC1F1CE3781AEA10002',
       '90134BC1F1CE3781AEA10009', '90134BC1F1CE3781AEA1000A',
       '90134BC1F1CE3781AEA10012', '90134BC1F1CE3781AEA10021',
       '90134BC1F1CE3781AEA10023', '90134BC1F1CE3781AEA10025',
       '90144BC1F1CE3681EA880912', '9014FB63AC1F3681EC880901',
       'E280689000000000183443A3', 'E280689000000000183449A9',
       'E28068900000000018344AC4', 'E28068900000000018344E55',
       'E28068900000000018344E56', 'E28068900000000018344E61',
       'E28068900000000018344E66', 'E28068900000000018344F87',
       'E28068900000000018344F88', 'E28068900000000018344F93',
       'E28068900000000018344F9A', 'E280689000000000183450C5',
       'E28068900000000018345317', 'E28068900000000018345329',
       'E2806890000000001834544A', 'E2806890000000001834545B',
       'E2806890000000001834545C', 'E28068900000000018345804',
       'E2806890000000001834580A', 'E2806890000000001834580B',
       'E2806890000000001834593E', 'E28068900000000018345944',
       'E28068900000000018345969', 'E28068900000000018345A8E',
       'E28068900000000018345A99', 'E28068900000000018345A9A',
       'E28068900000000018345BD0', 'E28068900000000018345CD5',
       'E28068900000000018345DFC' ]
print(len(parasites))
parasites=list(set(parasites))
print(len(parasites))

204
109

In [32]:
def setFalsePositive(fp_list, dataSet):
    fp={}
    for e in dataSet.ECP:
        fp[e]=0
        for f in fp_list:
            if(str(e).strip('[]')==f):
                fp[e]=1
    return fp
fp= setFalsePositive(parasites,data)
pf=pd.DataFrame(fp, columns=['FP'])
pf.values
j=0
for e in data.ECP:
    for i in pf:
        if (e==i.index and data[e] == i.index):
            data[[e], ['FP']] == i.values
            
        #else:
         #   data[[e], ['FP']] == i.values
#data['FP'] = pd.Series(fp).values 
data.head(10)

           TimesTamp                       ECP  Antenna  RSSI
3   1581427753033891  E28068900000000018345317        1 -60.5
4   1581427753054162  E28068900000000018345317        1 -60.0
5   1581427753269703  E28068900000000018345317        1 -60.0
6   1581427753298921  E28068900000000018345317        1 -59.5
7   1581427753513094  E28068900000000018345317        1 -59.5
8   1581427753544895  E28068900000000018345317        1 -59.5
9   1581427753748230  E28068900000000018345317        1 -59.5
10  1581427753775459  E28068900000000018345317        1 -59.5
11  1581427753983658  E28068900000000018345317        1 -59.5
12  1581427754008097  E28068900000000018345317        1 -59.0

### Export Data
Nous allons sauvegarder les donées dans un fichier .csv

In [94]:
import time
def exportData(data, path):
    data.to_csv(path, index = None, header=False)

In [95]:
path='../2-TransformedData/DerriereGaucheBas-p30__02-11-2020_15h_05m_20s.csv'
exportData(data, path)