### Import library
Nous allons importer les bibliothèque numpy et pandas qui sont necessaire pour le traitement.

In [1]:
import pandas as pd
import numpy as np

### Import Data
Nous allons importer les données depuis le répertoire RAwData pour enfin les traiter et transformer

In [2]:
n=['TimesTamp', 'ECP', 'Antenna', 'RSSI','Channel','Address']
p='../1-RawData/datasetfinale/cible_parasites/25/droitebas-cible-avec-parasites-p25__02-11-2020_16h_55m_14s.csv'
d=','
def importData(path, delimit,cols):
    return pd.read_csv(path, sep=delimit,names=cols)

data=importData(p,d,n)
data = data.drop([0],axis=0) #Suppression de la 1ere ligne
data = data.drop([1],axis=0) #Suppression de la 1ere ligne
data = data.drop([2],axis=0) #Suppression de la 1ere 
data = data.drop(['Channel'],axis=1) #Suppression de la 1ere 
data = data.drop(['Address'],axis=1) #Suppression de la 1ere 
data['FP']=0
data.head(5)

          TimesTamp                       ECP Antenna   RSSI  FP
3  1581427753033891  E28068900000000018345317       1  -60.5   0
4  1581427753054162  E28068900000000018345317       1    -60   0
5  1581427753269703  E28068900000000018345317       1    -60   0
6  1581427753298921  E28068900000000018345317       1  -59.5   0
7  1581427753513094  E28068900000000018345317       1  -59.5   0

### TYPAGE DES CHAMPS
Nos allons typer les différentes colonnes du dataSet avec les types primaires de python

In [3]:
def typage(data):
    data['ECP']=data['ECP'].astype(str)
    data['TimesTamp']=data['TimesTamp'].astype('int64')
    data['RSSI']=data['RSSI'].astype('float64')
    data['Antenna']=data['Antenna'].astype('int64')
    data['FP']=data['FP'].astype('int64')
    return data

data=typage(data)
data.info()
data.shape

<class 'pandas.core.frame.DataFrame'>
Int64Index: 414 entries, 3 to 416
Data columns (total 5 columns):
TimesTamp    414 non-null int64
ECP          414 non-null object
Antenna      414 non-null int64
RSSI         414 non-null float64
FP           414 non-null int64
dtypes: float64(1), int64(3), object(1)
memory usage: 19.4+ KB

(414, 5)

In [4]:
'''
3005FB63AC1F3681EC880468, 1532AC20AC1F3681EC880468, 0000FB63AC1F3681EC880468, 1007FB63AC1F3681EC880468
'''
def deleteRowByECP(datas, ecp):
    print('firstSize', datas.size)
    datas=datas[datas.ECP!=ecp]
    print('secondSize', datas.size)
    return datas

data = deleteRowByECP(data,'3005FB63AC1F3681EC880468')
data = deleteRowByECP(data,'1532AC20AC1F3681EC880468')
data = deleteRowByECP(data,'0000FB63AC1F3681EC880468')
data = deleteRowByECP(data,'1007FB63AC1F3681EC880468')

firstSize 2070
secondSize 1905
firstSize 1905
secondSize 1905
firstSize 1905
secondSize 1765
firstSize 1765
secondSize 1655

In [5]:
parasites = ['3025AB20CA1F3681CF101116','3025AB20CA1F3681CF10111B','90134BC1F1CE3781AEA1000A',
'90134BC1F1CE3781AEA10009','E2806890000000001834545B','E28068900000000018345DFC',
'E28068900000000018345317','90134BC1F1CE3781AEA10012','9014FB63AC1F3681EC880901',
'90134BC1F1CE3781AEA10023','E2806890000000001834545C', '90134BC1F1CE3781AEA10021',
'90144BC1F1CE3681EA880912','90134BC1F1CE3781AEA10025','3025AB20CA1F3681CF101119',
'E28068900000000018344E55','E28068900000000018344F88', 'E28068900000000018344F9A',
'E28068900000000018344F87','E28068900000000018344AC4','E2806890000000001834580B',
'90134BC1F1CE3781AEA10002','3025AB20CA1F3681CF10111A','E28068900000000018345944',
'E28068900000000018345804','E28068900000000018344E66','E28068900000000018345329',
'E28068900000000018345CD5','E28068900000000018344F93','E2806890000000001834580A',
'4001FBCAAC1F3690ED880512','90134BC1F1CE3781AEA1001A', '300000000000000000017868', 
'30000000000000000001786C', '30000000000000000001786E', '300000000000000000017866', 
'30000000000000000001786D', '30000000000000000001786A', '300000000000000000017865', 
'300000000000000000017863', '3000000000000000000178BE', 'E28068900000000018345CCE',
'3025AB20CA1F3681CF101118','3025AB20CA1F3681CF10111D','E28068900000000018345455',
'90134BC1F1CE3781AEA1000F','E28068900000000018345CD4']
print(len(parasites))
parasites=list(set(parasites))
print(len(parasites))
data.head(5)

47
47

          TimesTamp                       ECP  Antenna  RSSI  FP
3  1581427753033891  E28068900000000018345317        1 -60.5   0
4  1581427753054162  E28068900000000018345317        1 -60.0   0
5  1581427753269703  E28068900000000018345317        1 -60.0   0
6  1581427753298921  E28068900000000018345317        1 -59.5   0
7  1581427753513094  E28068900000000018345317        1 -59.5   0

In [27]:
group=data.groupby('ECP')
len(group)

79

In [6]:
def setFalsePositive(fp_list, dataSet):
    #fp={}
    df=pd.DataFrame({})
    i=0
    for d in dataSet.values:
        #fp[e]=0
        for f in fp_list:
            #print(f)
            if(d[1]==f):
                d[4]=1
                #fp[e]=1
                #print(f)
                i=i+1
                print(i)
        #df.append(d)
    return df

#fp= setFalsePositive(parasites,data)
dfp= setFalsePositive(parasites,data)
#print(fp)
#dd={'ECP':list(fp.keys()), 'FP':list(fp.values())}
#pf=pd.DataFrame(dd)
print(dfp)

#j=0
#for e in data.ECP:
#    for i in pf:
#        if (e!=i.index):
#            print("if")
#            data[data.ECP==e, data.FP] == i.values
            
        #else:
         #   data[[e], ['FP']] == i.values
#data['FP'] = pd.Series(fp).values 

#data.head(10)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
Empty DataFrame
Columns: []
Index: []

### Export Data
Nous allons sauvegarder les donées dans un fichier .csv

In [94]:
import time
def exportData(data, path):
    data.to_csv(path, index = None, header=False)

In [95]:
path='../2-TransformedData/DerriereGaucheBas-p30__02-11-2020_15h_05m_20s.csv'
exportData(data, path)